* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #000000;
    --nav-color: #222222;
    --btn-nav: #4A4A4A;
    --share-screen: #4BC800;
    --leave-meeting: #E6192B;
    --font-color: #FFFFFF;
    --label-bg: rgba(50, 50, 50, 0.5);

    --footer-height: 70px;

    --font-1: Arial, Helvetica, sans-serif;

    --font-size-1: 0.7rem;
    --icon-size-1: 1.5rem;
    --icon-size-2: 0.8rem;
}

body {
    background-color: var(--bg-color);
    font-family: var(--font-1);
}

/* Utility */

.d_flex {
    display: flex;
}

.dir_column {
    flex-direction: column;
}

.style_none {
    text-decoration: none;
    color: inherit;
}

.justify_center {
    justify-content: center;
}

.align_center {
    align-items: center;
}

.font_size_1 {
    font-size: var(--font-size-1);
}

.icon_size_1 {
    font-size: var(--icon-size-1);
}

.column_gap_small {
    column-gap: 0.5rem;
}

.column_gap_med {
    column-gap: 1rem;
}

.row_gap_small {
    row-gap: 0.5rem;
}


/* Main */

#site_main {
    height: calc(100vh - var(--footer-height));
    color: var(--font-color);
}

#site_main>.main_wrapper {
    position: relative;
    height: 100%;
}

#site_main .top_buttons {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1;
}

#site_main .top_buttons>a {
    padding: 0.5rem;
    background-color: var(--nav-color);
    border-radius: 5px;
    margin-left: 0.5rem;

}

#site_main .fa-burger {
    margin-right: 0.5rem;
}

#site_main .wrapper.d_flex {
    /* position: absolute;
    bottom: 2rem;
    left: 0; */

    flex-flow: row wrap;
    /* border: 1px solid green; */

    gap: 1rem 0.5rem;
    justify-content: center;

}

.user {
    /* border: 1px solid white; */
    width: calc(100vw / 8.2);
    position: relative;
}

.user img {
    max-width: 100%;
}

.user > .label {
    position: absolute;
    bottom: 5px;
    left: 0;
    padding: 0.3rem;
    background-color: var(--label-bg);


}




/* Footer */

#site_footer {
    height: var(--footer-height);
    background-color: var(--nav-color);
    color: var(--font-color);

    padding-left: 1rem;

    /* justify-content: space-between; */

}

#site_footer > .site_nav {
    justify-content: space-between;
    height: 100%;
}

#site_footer i.green {
    color: var(--share-screen);
}

#site_footer .leave_btn {
    color: var(--leave-meeting);
    height: 100%;
    background-color: var(--btn-nav);
    padding: 0 1rem;

}

/* #site_footer i {
    font-size: var(--icon-size-1);
} */

